// .eslintrc
{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  // HERE
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],

  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-non-null-asserted-optional-chain": 0,
    "@typescript-eslint/naming-convention": [
      2,
      {
        "selector": "variableLike",
        "format": ["camelCase", "PascalCase", "UPPER_CASE"]
      }
    ],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-empty-interface": 2,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-var-requires": 1,
    "@typescript-eslint/no-use-before-define": 2,
    "@typescript-eslint/type-annotation-spacing": 2,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/ban-types": ["off"],
    "@typescript-eslint/no-empty-function": ["off"],
    "eqeqeq": [2, "smart"],
    "default-case": 0,
    "no-caller": 2,
    "no-case-declarations": 0,
    "no-debugger": 2,
    "no-eval": 2,
    "no-fallthrough": 2,
    "no-labels": 1,
    "no-redeclare": 2,
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": 2,
    "no-unused-expressions": 2,
    "radix": [2, "as-needed"],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.name!='parseInt'] > Identifier[name='parseInt']",
        "message": "Call parseInt directly to guarantee radix param is not incorrectly provided"
      },
      "error",
      {
        "selector": "CallExpression[callee.name!='parseFloat'] > Identifier[name='parseFloat']",
        "message": "Call parseFloat directly to guarantee radix param is not incorrectly provided"
      }
    ],
    "strict": [2, "global"],
    "valid-jsdoc": 2,
    "react/jsx-no-target-blank": 0,
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "react/display-name": 0
  },

  "env": {
    "browser": true,
    "es2021": true
  }
}
