:host {
  display: block;
}

.derivation-path-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

input, button {
  background: inherit;
  font-size: 14.2px;
  font-family: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 40px;
  margin-top: 8px;
  padding: 0.55em 1.4em;
  text-align: center;
  color: inherit;
  transition: background 150ms ease-in-out;
  line-height: 1.15;
  cursor: pointer;
}

input:focus {
  border: 2px solid var(--near-input-border-color-focus);
}

input:focus-visible {
  border: none;
  outline: 2px solid var(--near-input-border-color-focus);
}

.input-error {
  border-color: var(--near-error) !important;
}

.derivation-path-actions {
  display: flex;
  justify-content: space-between;
}

.error {
  font-family: inherit;
  color: var(--near-error);
}


.left-button:hover {
  background-color: var(--near-dismiss-button-bg-hover);
  border-color: var(--near-dismiss-button-border-color-hover);
}

.right-button {
  color: var(--near-confirm-button-color);
  background-color: var(--near-confirm-button-bg);
  border: 1px solid var(--near-confirm-button-border-color);
}

.right-button:hover {
  background-color: var(--near-confirm-button-bg-hover);
}
