/**
 * @prop --near-backdrop-bg: Background of the backdrop
 */
:host {
  display: block;
  --near-backdrop-bg: #26262630;
  --near-heading-color: #262626;
  --near-text-color: #676767;
  --near-selected-wallet-bg: #A7A7A730;
  --near-selected-wallet-bg-hover: transparent;
  --near-wallet-option-border-color: #A7A7A730;
  --near-content-bg: #FFFFFF;
  --near-input--focus-border-color: #5F8AFA;
  --near-box-shadow-color: #26262630;
  --near-dismiss-button-hover-bg: #A7A7A730;
  --near-dismiss-button-hover-border-color: inherit;
  --near-confirm-button-color: #FFFFFF;
  --near-confirm-button-bg: #5F8AFA;
  --near-confirm-button-color-bg-hover: #5AA6FF;
  --near-confirm-button-border-color: #5F8AFA;
  --near-error: #DB5555;
  --near-modal-close-button-color: #262626;;
}


:host-context(wallet-selector-modal[theme="dark"]) {
  --near-backdrop-bg: #26262630;
  --near-heading-color: #FFFFFF;
  --near-text-color: #FFFFFF;
  --near-selected-wallet-bg: #262626CC;
  --near-selected-wallet-bg-hover: #262626CC;
  --near-wallet-option-border-color: #A7A7A730;
  --near-content-bg: #3F4246;
  --near-input--focus-border-color: #5F8AFA;
  --near-box-shadow-color: #26262630;
  --near-dismiss-button-hover-bg: #262626CC;
  --near-dismiss-button-hover-border-color: #262626;;
  --near-confirm-button-color: #FFFFFF;
  --near-confirm-button-bg: #5F8AFA;
  --near-confirm-button-color-bg-hover: #5AA6FF;
  --near-confirm-button-border-color: #5F8AFA;
  --near-error: #DB5555;
  --near-modal-close-button-color: #A7A7A7;
}

@media (prefers-color-scheme: dark) {
  :host {
    --near-backdrop-bg: #26262630;
    --near-heading-color: #FFFFFF;
    --near-text-color: #FFFFFF;
    --near-selected-wallet-bg: #262626CC;
    --near-selected-wallet-bg-hover: #262626CC;
    --near-wallet-option-border-color: #A7A7A730;
    --near-content-bg: #3F4246;
    --near-input--focus-border-color: #5F8AFA;
    --near-box-shadow-color: #26262630;
    --near-dismiss-button-hover-bg: #262626CC;
    --near-dismiss-button-hover-border-color: #262626;;
    --near-confirm-button-color: #FFFFFF;
    --near-confirm-button-bg: #5F8AFA;
    --near-confirm-button-color-bg-hover: #5AA6FF;
    --near-confirm-button-border-color: #5F8AFA;
    --near-error: #DB5555;
    --near-modal-close-button-color: #A7A7A7;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--near-backdrop-bg);
  color: var(--near-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Manrope, sans-serif;
  font-weight: 500;
  z-index: 100;

  * {
    box-sizing: content-box;
  }
}
