:host {
  display: block;
}

.modal-content {
  max-width: 700px;
  max-height: 70vh;
  width: 400px;
  background-color: var(--near-content-bg);
  margin: 10px;
  border-radius: 16px;
  padding: 32px;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.6;

  .modal-header {
    display: flex;
    align-items: start;
    justify-content: space-between;

    h2 {
      color: var(--near-heading-color);
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
