name: on release

on: pull_request

jobs:
  publish-github-registry:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ycg/test-ban
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile --prefer-offline
      - name: Build
        # run: yarn nx run-many --target=build --projects=core,ethereum-wallets,modal-ui,my-near-wallet --configuration=production
        run: yarn nx run-many --target=build --projects=ethereum-wallets --configuration=production
      - name: Creating .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      # - name: Publish Core
      #   run:  cd ./dist/packages/core && npm pkg set name=aurora-is-near/wallet-selector/core &&  npm pkg set repository.url=https://github.com/aurora-is-near/wallet-selector.git && npm pkg set bugs.url=https://github.com/aurora-is-near/issues && npm pkg set homepage=https://github.com/aurora-is-near/wallet-selector/tree/main/packages/core && npm publish --access public 
      # - name: Publish Modal ui
      #   run:  cd .. && cd ./modal-ui && npm pkg set name=aurora-is-near/wallet-selector/modal-ui &&  npm pkg set repository.url=https://github.com/aurora-is-near/wallet-selector.git && npm pkg set bugs.url=https://github.com/aurora-is-near/issues && npm pkg set homepage=https://github.com/aurora-is-near/wallet-selector/tree/main/packages/modal-ui && npm publish --access public 
      # - name: Publish My Near Wallet
      #   run:  cd .. && cd ./my-near-wallet && npm pkg set name=aurora-is-near/wallet-selector/my-near-wallet &&  npm pkg set repository.url=https://github.com/aurora-is-near/wallet-selector.git && npm pkg set bugs.url=https://github.com/aurora-is-near/issues && npm pkg set homepage=https://github.com/aurora-is-near/wallet-selector/tree/main/packages/my-near-wallet && npm publish --access public 
      - name: Publish Ethereum Wallets
        run:   cd ./dist/packages/ethereum-wallets && npm pkg set name=@aurora-is-near/ethereum-wallets &&  npm pkg set repository.url=https://github.com/aurora-is-near/wallet-selector.git && npm pkg set bugs.url=https://github.com/aurora-is-near/issues && npm pkg set homepage=https://github.com/aurora-is-near/wallet-selector/tree/main/packages/ethereum-wallets && npm publish --access public 
      # - name: Publish Core
      #   run:  cd ./dist/packages/core && npm pkg set name=aurora-is-near/wallet-selector/core &&  npm pkg set repository.url=https://github.com/aurora-is-near/wallet-selector.git && npm pkg set bugs.url=https://github.com/aurora-is-near/issues && npm pkg set homepage=https://github.com/aurora-is-near/wallet-selector/tree/main/packages/core && npm publish --access public 
      # - name: Publish Modal ui
      #   run:  cd .. && cd ./modal-ui && npm pkg set name=aurora-is-near/wallet-selector/modal-ui &&  npm pkg set repository.url=https://github.com/aurora-is-near/wallet-selector.git && npm pkg set bugs.url=https://github.com/aurora-is-near/issues && npm pkg set homepage=https://github.com/aurora-is-near/wallet-selector/tree/main/packages/modal-ui && npm publish --access public 
      # - name: Publish My Near Wallet
      #   run:  cd .. && cd ./my-near-wallet && npm pkg set name=aurora-is-near/wallet-selector/my-near-wallet &&  npm pkg set repository.url=https://github.com/aurora-is-near/wallet-selector.git && npm pkg set bugs.url=https://github.com/aurora-is-near/issues && npm pkg set homepage=https://github.com/aurora-is-near/wallet-selector/tree/main/packages/my-near-wallet && npm publish --access public 
      # - name: Publish Ethereum Wallets
      #   run:  cd .. && cd ./ethereum-wallets && npm pkg set name=aurora-is-near/wallet-selector/ethereum-wallets &&  npm pkg set repository.url=https://github.com/aurora-is-near/wallet-selector.git && npm pkg set bugs.url=https://github.com/aurora-is-near/issues && npm pkg set homepage=https://github.com/aurora-is-near/wallet-selector/tree/main/packages/ethereum-wallets && npm publish --access public 
