name: Dev PR
on:
  pull_request_review:
    types:
      - submitted
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - labeled
      - unlabeled
      - synchronize
      - ready_for_review
      - unlocked
    branches:
      - dev
      - main

jobs:
  # printer:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - name: Print
  #       run: echo '${{ github.event.pull_request.base.ref }}'

  dev-pr:
    if: github.base_ref == 'dev'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Ensure checklists are filled
        uses: actions/github-script@v4
        with:
          script: |
            const script = require('.github/actions/checklist.js').check;
            await script({context});
      - name: Ensure title update with changes type
        uses: actions/github-script@v4
        with:
          script: |
            const script = require('.github/actions/pr-title.js').update;
            await script({ context, github });
      - name: automerge
        uses: pascalgn/automerge-action@v0.14.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_LABELS: automerge
          MERGE_METHOD: squash
          MERGE_COMMIT_MESSAGE: pull-request-title
          MERGE_REQUIRED_APPROVALS: 1

  prod-pr:
    if: github.base_ref == 'main'
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: pascalgn/automerge-action@v0.14.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_LABELS: automerge
          MERGE_METHOD: rebase
          MERGE_COMMIT_MESSAGE: automatic
          MERGE_REQUIRED_APPROVALS: 1


